body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vp;
    background-color: #191919;
}
a {
    text-decoration:none;
    font-size: 25px;
}
.box{
    font-size: 50px;
    color: white;
    height: 450px;
    width: 550px;
    border-radius: 10px;
    background: #191919;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons-container{
    display: flex;
    justify-content: space-around;
    height: 50px;
    width:150px;
}
button {
    height: 80px;
    width: 120px;
    border-radius: 5px;
    background: white;
    color: red;
    font-size: 25px;
}
